<a href="https://colab.research.google.com/github/sjbriggsdev/cd_finalproject/blob/master/Final_Project_Option_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project Option 1
- Steven Briggs
- 03/12/22

1. Source of data
https://archive.ics.uci.edu/ml/datasets/Spambase

2. Brief description of data

A collection of metrics that count the appearance of certain characters or words in a message and ultimately classifies a message as spam or not.

3. What is the target?

The last column is either 1 or 0, spam or not spam.

4. Is this a classification or regression problem?

Classification

5. How many features?

57 features and 1 column that classifies the message as spam or not

6. How many rows of data.

4601 rows

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

It feels like it might be a challense that the columns aren't necessarily named, in that I don't know exactly what each column represents, but in the big scheme of things, that might not matter as the features may change on a regular basis in general operations.

In [2]:
import pandas as pd

In [6]:
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/spambase/spambase.data',header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [8]:
df.shape

(4601, 58)