<a href="https://colab.research.google.com/github/sjbriggsdev/cd_finalproject/blob/master/Final_Project_Option_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project Option 3
- Steven Briggs
- 03/15/22

1) Source of data
https://www.kaggle.com/billbasener/coronary-heart-disease

2) Brief description of data

A collection of variables associated with the patient's condition along with a diagnosis of Heart Disease (CHD) (0 or 1).

3) What is the target?

The target will be to predict CHD based on the patient condition variables.

4) Is this a classification or regression problem?

Classification

5) How many features?

9 features and 1 column that I would predict.  

6) How many rows of data.

462 rows

7) What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

I can't think of any challenges.  The dataset is similar to others we've used in class up to this point.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/drive/MyDrive/DATA/chddata.csv')
df.head()

   sbp  tobacco   ldl  adiposity  famhist  typea  obesity  alcohol  age  chd
0  160    12.00  5.73      23.11  Present     49    25.30    97.20   52    1
1  144     0.01  4.41      28.61   Absent     55    28.87     2.06   63    1
2  118     0.08  3.48      32.28  Present     52    29.14     3.81   46    0
3  170     7.50  6.41      38.03  Present     51    31.99    24.26   58    1
4  134    13.60  3.50      27.78  Present     60    25.99    57.34   49    1

In [4]:
df.shape

(462, 10)