<a href="https://colab.research.google.com/github/sjbriggsdev/cd_finalproject/blob/master/Final_Project_Option_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Project Option 2
- Steven Briggs
- 03/12/22

1. Source of data
https://www.kaggle.com/surajjha101/analyzing-and-prediction-of-bitcoin-pricing

2. Brief description of data

A collection of open/close prices as well as trading volumes for bitcoin since 2014.

3. What is the target?

I was thinking to try and predict the trading volume based on the difference between the open and close values (absolute values rather than dealing with pos/neg)

4. Is this a classification or regression problem?

Regresssion

5. How many features?

6 features and 1 column that I would predict.  I was planning to get rid of the date column because that won't matter for what I want to do.  But I'll need to add a column that calculates the difference between open and close prices.

6. How many rows of data.

2730 rows

7. What, if any, challenges do your foresee in cleaning, exploring, or modeling with this dataset?

I can't think of any challenges other than possibly the creation of a new column.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/DATA/btc-usd.csv')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,9/17/2014,465.864014,468.174011,452.421997,457.334015,457.334015,21056800.0
1,9/18/2014,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
2,9/19/2014,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
3,9/20/2014,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
4,9/21/2014,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0

In [ ]:
df.shape

(2730, 7)